
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap/theme';
@import "font-awesome";

/******************* GLOBAL CSS *********************/

*{
	font-family: 'EB Garamond', serif;
	color:#AF8767;
}

.dark{
	color:#221131;
}
.bgdark{
	background-color:#221131;
}
.bg-grad{
	background:linear-gradient(to right,#221131,#8a28a0);
	color:#F4F3F8;
	&:hover, &:active{
	   color:white;
	}	
}

h1, h2{
    font-family: 'Oswald', sans-serif;
}
.no-padding{
	padding:0;	
}
.left-padding{
	padding-left:5px;
}
.right-padding{
	padding-right:5px;
}

.sub-btn{
	background:linear-gradient(to right,#221131,#8a28a0);
	color:#F4F3F8;
	padding:6px 60px;
	border:none;
	border-radius:20px;
	font-size:18px;
	margin:10px 0;
}

.heading{
	font-size:35px;
 	span{
		font-size:60px;
		color:#221131;
		}
}

.shared-links{
a{
	color:#221131;
	font-size:16px;
}
}

/*********************** HEADER CSS *********************/

ul li{
	color:white;
	.menu-item{
		color:white;
		letter-spacing:1px;
		transition:0.2s ease;
		&:hover, &:active{
		background-color:transparent;
		transform:scale(1.1);
		}
	}

	}
.form-group{
		color:#AF8767;
		input{
		   font-size:16px;
		   &:focus{
		      border-color:#221131;
		      }
		}
	}